label {
    display: block;
    margin-top: 10px;
}
  
.card-container.card {
    max-width: 350px !important;
    padding: 40px 40px;
}
  
.card {
    background-color: #c79fdb;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
  
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.navbar {
    background: linear-gradient(45deg, rgb(183, 36, 219), rgb(42, 42, 212) );
    height: 80px;
    padding-left: 40px;
}

.navbar-brand {
    color: black;
    padding: 10px 0px 10px 0px;
}
.nav-link {
    color: black; 
}

.img-groupo {
    height: 250px;
    margin-right: 50px;
    
}

.profile {
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 30px 30px;
    margin: 100px auto;
    box-shadow: 3px 3px 14px 4px rgba(61, 61, 61, 0.54);
    width: auto;
}
  
.profile_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.profile_header_avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 110px;
    border: 3px #0a58ca solid;
    box-shadow: 0 0 15px #0a58ca;
    height: 110px;
    object-fit: cover;
    margin-bottom: 10px;
}
  
.profile_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-secondary {
    background-color: #c79fdb;
    width: 20%;
    align-items: center;
    color: black;
    display: flex;
    justify-content: center;
}

.container-accueil {

    background-color: whitesmoke;
    border-radius: 15px;
    padding: 15px 15px;
    margin: 25px auto;
    box-shadow: 3px 3px 14px 4px rgba(61, 61, 61, 0.54);
    width: auto;

}
  

@media screen and (max-width: 500px) {
    
    
}