@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@200 & display=swap');

$font-1: 'Montserrat', sans-serif ;

$color-1: #7053e2;
$color-2: #2d119e;
/*$color-3: ;
$color-4: ;*/

body {
    margin: 0 auto;
    font-family: $font-1;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: $color-2;
}
